[Desktop Entry]
Version=1.0
Type=Application
Name=VSCode
Comment=Access the Internet
Exec=/usr/bin/chromium-browser   127.0.0.1:58000 
Icon=atom
Path=
Terminal=false
StartupNotify=true
