body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Helvetica;
    letter-spacing: .05em;
    background: #fff url(images/782e6b34fd46a00744786246a454ed11.png) no-repeat fixed 50%;
    touch-action: none
}

body,
html {
    height: 100%
}

.noVNC_only_touch.noVNC_hidden {
    display: none
}

.noVNC_disabled {
    color: grey !important
}

.noVNC_spinner {
    position: relative
}

.noVNC_spinner,
.noVNC_spinner:after,
.noVNC_spinner:before {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    box-shadow: -60px 10px 0 #fff;
    animation: noVNC_spinner 1s linear infinite
}

.noVNC_spinner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    animation-delay: -.1s
}

.noVNC_spinner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    animation-delay: .1s
}

@keyframes noVNC_spinner {
    0% {
        box-shadow: -60px 10px 0 rgba(0, 135, 200, 0);
        width: 20px
    }

    25% {
        box-shadow: 20px 10px 0 #0087c8;
        width: 10px
    }

    50% {
        box-shadow: 60px 10px 0 rgba(0, 135, 200, 0);
        width: 10px
    }
}

input:not([type]),
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    margin: 2px;
    padding: 2px;
    border: 1px solid silver;
    border-radius: 5px;
    color: #000;
    background: linear-gradient(0deg, #fff 80%, #f0f0f0)
}

input[type=button],
input[type=color],
input[type=reset],
input[type=submit],
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    margin: 2px;
    padding: 2px;
    border: solid silver;
    border-width: 1px 1px 2px;
    border-radius: 5px;
    color: #000;
    background: linear-gradient(0deg, #fff, #f0f0f0);
    vertical-align: middle
}

input[type=button],
input[type=color],
input[type=reset],
input[type=submit] {
    padding-left: 20px;
    padding-right: 20px
}

option {
    color: #000;
    background: #fff
}

input:not([type]):focus,
input[type=button]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=reset]:focus,
input[type=search]:focus,
input[type=submit]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 3px rgba(74, 144, 217, .5);
    border-color: #4a90d9;
    outline: none
}

input[type=button]::-moz-focus-inner,
input[type=color]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
    border: none
}

input:not([type]):disabled,
input[type=button]:disabled,
input[type=color]:disabled,
input[type=date]:disabled,
input[type=datetime-local]:disabled,
input[type=email]:disabled,
input[type=month]:disabled,
input[type=number]:disabled,
input[type=password]:disabled,
input[type=reset]:disabled,
input[type=search]:disabled,
input[type=submit]:disabled,
input[type=tel]:disabled,
input[type=text]:disabled,
input[type=time]:disabled,
input[type=url]:disabled,
input[type=week]:disabled,
select:disabled,
textarea:disabled {
    color: grey;
    background: #f0f0f0
}

input[type=button]:active,
input[type=color]:active,
input[type=reset]:active,
input[type=submit]:active,
select:active {
    border-bottom-width: 1px;
    margin-top: 3px
}

:root:not(.noVNC_touch) input[type=button]:hover:not(:disabled),
:root:not(.noVNC_touch) input[type=color]:hover:not(:disabled),
:root:not(.noVNC_touch) input[type=reset]:hover:not(:disabled),
:root:not(.noVNC_touch) input[type=submit]:hover:not(:disabled),
:root:not(.noVNC_touch) select:hover:not(:disabled) {
    background: linear-gradient(0deg, #fff, #fafafa)
}

.noVNC_center {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none
}

.noVNC_center>* {
    pointer-events: auto
}

.noVNC_vcenter {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none
}

.noVNC_vcenter>* {
    pointer-events: auto
}

.noVNC_connect_layer {
    z-index: 60
}

#noVNC_fallback_error {
    z-index: 1000;
    visibility: hidden
}

#noVNC_fallback_error.noVNC_open {
    visibility: visible
}

#noVNC_fallback_error>div {
    max-width: 90%;
    padding: 15px;
    opacity: 0;
    text-align: center;
    font-weight: 700;
    color: #fff;
    box-shadow: 6px 6px 0 rgba(0, 0, 0, .5);
    background: rgba(33, 130, 177, .8)
}

#noVNC_fallback_error.noVNC_open>div {
    transition: .5s ease-in-out;
    opacity: 1
}

#noVNC_fallback_errormsg {
    font-weight: 400
}

#noVNC_fallback_errormsg .noVNC_message {
    display: inline-block;
    text-align: left;
    font-family: monospace;
    white-space: pre-wrap
}

#noVNC_fallback_error .noVNC_location {
    font-style: italic;
    font-size: .8em;
    color: hsla(0, 0%, 100%, .8)
}

#noVNC_fallback_error .noVNC_stack {
    max-height: 50vh;
    padding: 10px;
    margin: 10px;
    font-size: .8em;
    text-align: left;
    font-family: monospace;
    white-space: pre;
    border: 1px solid rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, .2);
    overflow: auto
}

#noVNC_connection_stats {
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    background: rgba(159, 165, 162, .8313725490196079);
    color: rgba(0, 255, 162, .8313725490196079);
    visibility: hidden
}

#noVNC_control_bar_anchor {
    position: fixed;
    z-index: 10;
    transition: .5s ease-in-out;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#noVNC_control_bar_anchor.noVNC_right {
    left: auto;
    right: 0
}

#noVNC_control_bar {
    position: relative;
    /* left: -100%; */
    top: -60px;
    transition: .5s ease-in-out;
    background-color: rgba(9, 2, 2, .6);
    border-radius: 0 10px 10px 0;
    border-style: inset;
    border-color: hsla(0, 0%, 100%, .6)
}

#noVNC_control_bar.noVNC_open {
    top: 0
}

#noVNC_control_bar:before {
    content: "";
    display: none;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 30px;
    left: -30px;
    transition: box-shadow .5s ease-in-out
}

#noVNC_control_bar.noVNC_open:before {
    box-shadow: 6px 6px 0 rgba(0, 0, 0, .5)
}

.noVNC_right #noVNC_control_bar {
    left: 100%;
    border-radius: 10px 0 0 10px
}

.noVNC_right #noVNC_control_bar.noVNC_open {
    top: 0
}

.noVNC_right #noVNC_control_bar:before {
    visibility: hidden
}

#noVNC_control_bar_handle {
    position: absolute;
    left: -15px;
    transform: translateY(35px);
    width: calc(100% + 30px);
    /* height: 50px; */
    z-index: -1;
    cursor: pointer;
    border-radius: 5px;
    background-image: url(images/902f9d35b332b041483439e0f26be15c.svg);
    background-repeat: no-repeat;
    background-position: 100%
}

#noVNC_control_bar_handle:after {
    content: "";
    transition: transform .5s ease-in-out;
    background: url(images/294bda69d4ed0f7d5b47bc8145978966.svg);
    background-repeat: no-repeat;
    background-position: 80%;
    position: absolute;
    transform: translateX(0px) rotate(90deg);
    right: 50%;
    width: 15px;
    height: 60px;
    top: -5px;
    background-color: rgba(9, 2, 2, .6);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-color: hsla(0, 0%, 100%, .6);
    border-style: inset
}

#noVNC_control_bar.noVNC_open #noVNC_control_bar_handle:after {
    /* transform: translateX(1px) rotate(90deg) */
}

:root:not(.noVNC_connected) #noVNC_control_bar_handle {
    display: none
}

.noVNC_right #noVNC_control_bar_handle {
    background-position: 0
}

.noVNC_right #noVNC_control_bar_handle:after {
    left: 5px;
    right: 0;
    transform: translateX(1px) rotate(180deg)
}

.noVNC_right #noVNC_control_bar.noVNC_open #noVNC_control_bar_handle:after {
    transform: none
}

#noVNC_control_bar_handle div {
    position: absolute;
    right: -35px;
    top: 0;
    width: 50px;
    height: 50px
}

:root:not(.noVNC_touch) #noVNC_control_bar_handle div {
    display: none
}

.noVNC_right #noVNC_control_bar_handle div {
    left: -35px;
    right: auto
}

#noVNC_control_bar .noVNC_scroll {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 10px 0 5px
}

.noVNC_right #noVNC_control_bar .noVNC_scroll {
    padding: 0 5px 0 10px
}

#noVNC_control_bar_hint {
    position: fixed;
    left: calc(100vw - 50px);
    right: auto;
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 100px;
    height: 50%;
    max-height: 600px;
    visibility: hidden;
    opacity: 0;
    transition: .2s ease-in-out;
    background: transparent;
    box-shadow: 0 0 10px #000, inset 0 0 10px 10px rgba(110, 132, 163, .8);
    border-radius: 10px;
    transition-delay: 0s
}

#noVNC_control_bar_anchor.noVNC_right #noVNC_control_bar_hint {
    left: auto;
    right: calc(100vw - 50px)
}

#noVNC_control_bar_hint.noVNC_active {
    visibility: visible;
    opacity: 1;
    transition-delay: .2s;
    transform: translateY(-50%) scale(1)
}

.noVNC_button_div {
    display: block;
    color: #fff;
    max-height: 50px;
    font-size: 13px
}

@media (max-width: 480px) {
  .noVNC_button_div {
    font-size: 10px;
  }
}

.noVNC_button {
    display: inline;
    padding: 4px;
    margin: 10px 0;
    vertical-align: middle
}

.noVNC_button.noVNC_selected {
    border-color: rgba(0, 0, 0, .8);
    background: rgba(153, 151, 157, .68)
}

.noVNC_button:disabled {
    opacity: .4
}

.noVNC_button:focus {
    outline: none
}

.noVNC_button:active {
    padding-top: 5px;
    padding-bottom: 3px
}

.noVNC_button.noVNC_selected:focus,
:root:not(.noVNC_touch) .noVNC_button.noVNC_selected:hover {
    border-color: rgba(0, 0, 0, .4);
    background: rgba(153, 151, 157, .68)
}

.noVNC_button_div:focus,
:root:not(.noVNC_touch) .noVNC_button_div:hover {
    background: hsla(0, 0%, 100%, .2)
}

.noVNC_button.noVNC_hidden {
    display: none
}

.noVNC_panel {
    transform: translateX(25px);
    transition: .5s ease-in-out;
    width: 300px;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    padding: 15px;
    background: rgba(9, 9, 0, .77);
    border-radius: 10px;
    color: #000
}

.noVNC_panel.noVNC_open {
    visibility: visible;
    opacity: 1;
    transform: translateX(75px)
}

.noVNC_right .noVNC_vcenter {
    left: auto;
    right: 0
}

.noVNC_right .noVNC_panel {
    transform: translateX(-25px)
}

.noVNC_right .noVNC_panel.noVNC_open {
    transform: translateX(-75px)
}

.noVNC_panel hr {
    border: none;
    border-top: 1px solid silver
}

.noVNC_panel label {
    display: block;
    white-space: nowrap;
    color: #fff
}

.noVNC_panel .noVNC_heading {
    background-color: #363a40;
    border-radius: 5px;
    padding: 5px 8px 5px 5px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: nowrap
}

.noVNC_panel .noVNC_heading img {
    vertical-align: bottom
}

.noVNC_submit {
    float: right
}

.noVNC_expander {
    cursor: pointer;
    color: #fff
}

.noVNC_expander:before {
    content: url(images/62d0fcccbe3a2229d4f67847fe453ccc.svg);
    display: inline-block;
    margin-right: 5px;
    transition: .2s ease-in-out;
    -webkit-filter: invert(.75);
    filter: invert(.75)
}

.noVNC_expander.noVNC_open:before {
    transform: rotate(90deg)
}

.noVNC_expander~* {
    margin: 5px 5px 5px 10px;
    padding: 5px;
    background: rgba(0, 0, 0, .05);
    border-radius: 5px
}

.noVNC_expander:not(.noVNC_open)~* {
    display: none
}

#noVNC_control_bar .noVNC_logo {
    font-size: 13px;
    text-align: center;
    display: none;
}

:root:not(.noVNC_connected) #noVNC_mobile_buttons,
:root:not(.noVNC_connected) #noVNC_toggle_extra_keys_button,
:root:not(.noVNC_connected) #noVNC_view_drag_button,
:root:not(.noVNC_connected) .noVNC_hide_on_disconnect,
:root:not(.noVNC_disconnected) .noVNC_hide_on_connect,
:root:not(.noVNC_touch) #noVNC_mobile_buttons {
    display: none
}

#noVNC_modifiers {
    background-color: #5c5c5c;
    border: none;
    padding: 0 10px
}

#noVNC_power_buttons,
:root:not(.noVNC_connected) #noVNC_power_button {
    display: none
}

#noVNC_power input[type=button] {
    width: 100%
}

:root:not(.noVNC_connected) #noVNC_clipboard_button {
    display: none
}

#noVNC_clipboard {
    max-width: calc(100vw - 130px)
}

#noVNC_clipboard_text {
    width: 500px;
    max-width: 100%
}

#noVNC_settings ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff
}

#noVNC_setting_port {
    width: 80px
}

#noVNC_setting_path {
    width: 100px
}

.noVNC_version_wrapper {
    font-size: small
}

.noVNC_version {
    margin-left: 1rem
}

:root:not(.noVNC_connected) #noVNC_disconnect_button {
    display: none
}

#noVNC_status {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transform: translateY(-100%);
    cursor: pointer;
    transition: .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    line-height: 25px;
    word-wrap: break-word;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .9)
}

#noVNC_status.noVNC_open {
    transform: translateY(0);
    visibility: visible;
    opacity: 1
}

#noVNC_status:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px
}

#noVNC_status.noVNC_status_normal {
    background: hsla(0, 0%, 50.2%, .9)
}

#noVNC_status.noVNC_status_normal:before {
    content: url(images/502d013d03ea8508f7df4ba1ace5b541.svg) " "
}

#noVNC_status.noVNC_status_error {
    background: rgba(200, 55, 55, .9)
}

#noVNC_status.noVNC_status_error:before {
    content: url(images/252ed0078446ce2f6c9a76c2884e6d5b.svg) " "
}

#noVNC_status.noVNC_status_warn {
    background: rgba(180, 180, 30, .9)
}

#noVNC_status.noVNC_status_warn:before {
    content: url(images/0f401c830b7e330d24b54b2aecd20c9f.svg) " "
}

#noVNC_credentials_dlg {
    position: relative
}

#noVNC_credentials_dlg ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#noVNC_credentials_dlg.noVNC_panel,
#noVNC_credentials_dlg.noVNC_panel.noVNC_open {
    transition: none;
    transform: none
}

.noVNC_hidden {
    display: none
}

#noVNC_transition {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #0084c2;
    background: #fff url(images/782e6b34fd46a00744786246a454ed11.png) no-repeat fixed 50%;
    z-index: 50;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 1
}

:root.noVNC_connecting #noVNC_transition,
:root.noVNC_disconnecting #noVNC_transition,
:root.noVNC_loading #noVNC_transition,
:root.noVNC_reconnecting #noVNC_transition {
    display: flex
}

:root:not(.noVNC_reconnecting) #noVNC_cancel_reconnect_button {
    display: none
}

#noVNC_transition_text {
    font-size: 1.5em;
    margin-top: 125px
}

#noVNC_container {
    width: 100%;
    height: 100%;
    background-image: url(images/3082090afb2b2a343ae20bd52c2e16bb.jpg)
}

#noVNC_keyboardinput {
    width: 0;
    height: 0;
    background-color: hsla(0, 0%, 100%, 0);
    color: rgba(5, 5, 5, 0);
    border: 0;
    position: absolute;
    left: 35%;
    top: 40%;
    z-index: -1
}

@font-face {
    font-family: Orbitron;
    font-style: normal;
    font-weight: 700;
    src: local("?"), url(fonts/336ec822f2fdf93751577eabb42b1dd2.woff) format("woff"), url(fonts/2dd3cc0a5866320bdf5478fab39d48d9.ttf) format("truetype")
}

.noVNC_logo {
    color: #ff0;
    font-family: Orbitron, OrbitronTTF, sans-serif;
    line-height: 90%;
    text-shadow: .1em .1em 0 #000;
    margin-bottom: 0
}

.noVNC_logo img {
    width: 45%
}

.noVNC_logo span {
    color: green
}

#noVNC_bell {
    display: none
}

body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.keyboard-controls {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100000;
    cursor: pointer
}

.keyboard-controls .buttons {
    display: none;
    flex-direction: column
}

.keyboard-controls .buttons .button {
    border-radius: 0
}

.keyboard-controls .buttons .button:first-of-type {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.keyboard-controls .button {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #181f47;
    border: 6px solid #181f47;
    border-radius: 6px;
    outline: none;
    user-select: none
}

#noVNC_keyboard_control .noVNC_selected {
    background-color: #0f2499;
    border: 6px solid #0f2499
}

.keyboard-controls .button.ctrl {
    background-image: url(images/8ea6af98d26a3fcc82d791cbb4b93604.svg);
    background-size: contain
}

.keyboard-controls .button.alt {
    background-image: url(images/0e9730a4f7927f7c0b8af69624bdf0f2.svg);
    background-size: contain
}

.keyboard-controls .button.windows {
    background-size: contain;
    background-image: url(images/2e3a8683eee72bdac26f793b7c276865.svg)
}

.keyboard-controls .button.tab {
    background-size: contain;
    background-image: url(images/8db90a50d2027e9280c0570439c1202a.svg)
}

.keyboard-controls .button.escape {
    background-size: contain;
    background-image: url(images/f5a23f43686957d07b6aae75924429fd.svg)
}

.keyboard-controls .button.ctrlaltdel {
    background-size: contain;
    background-image: url(images/2a3dcaa7ea036bca25a3379a7eb819da.svg)
}

.keyboard-controls .button.keyboard {
    background-size: contain;
    background-image: url(images/8359e6cef7be78a2d26bf58446d0db3e.svg)
}

.keyboard-controls .button.selected {
    filter: brightness(150%)
}

.keyboard-controls.is-visible {
    display: flex;
    flex-direction: column
}

.keyboard-controls.is-open .button.handle {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.keyboard-controls.is-open .buttons {
    display: flex;
    flex-direction: column;
    animation-name: showKeyboardControls;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: both
}

.keyboard-controls.was-open .buttons {
    display: flex;
    flex-direction: column;
    animation-name: hideKeyboardControls;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-fill-mode: both
}

@keyframes showKeyboardControls {
    0% {
        transform: scaleY(.2);
        transform-origin: bottom center
    }

    to {
        transform: scale(1);
        transform-origin: bottom center
    }
}

@keyframes hideKeyboardControls {
    0% {
        transform: scale(1);
        transform-origin: bottom center
    }

    to {
        transform: scaleY(0);
        transform-origin: bottom center
    }
}

@media screen and (max-width:640px) {
    #noVNC_logo {
        font-size: 150px
    }
}

@media screen and (min-width:321px)and (max-width:480px) {
    #noVNC_logo {
        font-size: 110px
    }
}

@media screen and (max-width:320px) {
    #noVNC_logo {
        font-size: 90px
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
    margin: 5px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.slider {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc
}

.slider,
.slider:before {
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 1px;
    background-color: #fff
}

input:checked+.slider {
    background-color: #2196f3
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(10px)
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

.slider-label {
    padding-left: 26px
}

#noVNC_connect_button {
    display: block !important
}
