[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
Comment=
Exec=/usr/share/clion/bin/clion.sh
Icon=/usr/share/clion/bin/clion.svg
Path=/home/kasm-user
Terminal=false
StartupNotify=true
Name[en_US]=CLion
