[Desktop Entry]
Version=1.0
Type=Application
Name=dbeaver-ce
Comment=Universal Database Manager and SQL Client.
Exec=/usr/share/dbeaver-ce/dbeaver
Icon=/usr/share/dbeaver-ce/dbeaver.png
Path=
Terminal=false
StartupNotify=true
